
.book {
    display: flex;
    flex-direction: column;
}
.book-form {  
    background-color: var(--color-gray-light);
    flex: 1;
    padding: 1rem;
}
.book-list {
    flex: 2;
    
    padding: 1rem;
}