form {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    & .controlItems {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: .1rem;
        margin-top: 1rem;        
        border-radius: 0.5rem; 
    }
    & .buttonItems {
        margin-top: .5rem;
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
    }
}

input {
    width: 100%;
    padding: 0.5rem;
    border: solid 1px var(--color-gray-dark);    
    border-radius: 0.5rem;
    font-size: 1.6rem;
    color: var(--color-black);
    &:focus {
        outline: none;
        border: solid 1px var(--color-primary);
    }
    &.noValid {
        border: solid 1px var(--color-red);
        background-color: rgba(255, 0, 0,0.2);
    }   
     
}

textarea {
    width: 100%;
    padding: 0.5rem;
    border: solid 1px var(--color-gray-dark);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    text-align: left;
    &:focus {
        outline: none;
        border: solid 1px var(--color-gray-primary);
    }
}

button {
    width: 100%;
    padding: 0.5rem;
    border: solid 1px var(--color-gray-dark);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    background-color: var(--color-gray-dark);
    color: var(--color-white);
    cursor: pointer;
    &:hover {
        background-color: rgba(0,0,0,.1);
        color: var(--color-white);
    }
    &:disabled {
        background-color: rgba(0,0,0,.1);
        color: var(--color-white);
    }
}

label {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.2rem 0.5rem;
    background-color: var(--color-gray-dark);
    border-radius: 0.5rem;
    width: 99.9%;
}

