.header {
    position: relative;
    height: 5rem;  
    color: var(--color-black);
    margin-left: 1.8rem;  
    & nav {
        position: absolute;        
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        gap:0.01rem;
        & a{
            font-size: 1.8rem;
            font-weight: 400;
            color: var(--color-black);
            padding: .3rem 1rem;
            border: solid 1px var(--color-black);
            border-top-right-radius: 0.5rem;
            border-top-left-radius: 15px;
            transition: all 0.3s ease-in-out;
            &:hover:not(.active){
                background-color: var(--color-gray-light);
                font-weight: 600;
            }            
        }
        & .active{
            background-color: var(--color-gray-dark);
            color: var(--color-white);
        }
    }
}