table{
    overflow-y: auto;
    width: 100%;
   & thead {
        & tr {
             & th {
                background-color: var(--color-gray-dark);
                color: var(--color-white);
                border: 0.1rem solid var(--color-gray-dark);
                padding: 0.2rem;
                text-align: center;
             }
        }
   }
   & tbody {
        & tr {
            & td {
                border: 0.1rem solid #ddd;
                padding: 0.4rem;
            }   
        }
        & tr:nth-child(even) {
            background-color: rgba(0,0,0,.05);
        }
   }
   button {
        background-color: var(--color-gray-dark);
        border: none;
        color: var(--color-white);
        padding: 0.5rem 1rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2rem;
        margin: 0.5rem 0.2rem;
        cursor: pointer;
        border-radius: 0.5rem;
        height: 3.2rem;
        width: 3.2rem;
        &:hover {
            background-color: #45a049;
        }
        & img {
            width: 1.5rem;
            height: 1.5rem;
            pointer-events: none;
            & svg {
                fill: red;
            }
        }
        
   }
}
