{{ define "booklist" }}
<h3>Bücherliste</h3>
<input type="search" id="book-search" placeholder="Suche nach Titel">
<table id="book-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Preis</th>
            <th> - </th>
        </tr>
    </thead>
    <tbody>
        <!--Booktable-->
    </tbody>
</table>
{{ end }}