{{ define "donatelist" }}
    <h3>Alle spenden</h3>
    <details>
        <summary>Januar 24</summary>
        <ul>           
            <li>1. Januar 24 - 100 - Spende für die Kirche</li>
            <li>2. Januar 24 - 100 - Spende für die Kirche</li>
            <li>3. Januar 24 - 100 - Spende für die Kirche</li>
        </ul>
    </details>
{{ end }}