{{ define "header" }}
<header class="header">    
    <nav>        
        <a class="active" href="/">Home</a>
        <a href="/books">Bücher</a>
        <a href="/donate">Spenden</a>
        <a href="/">Gottesdienst</a>            
    </nav>
</header>
{{ end }}