{{ define "saleInfo" }}
  <div class="wrapper">
        <section class="info-container">
            <h3 class="info-title">
                Hier der Buchtitel
            </h3>
            <form id="frm-info">
                <div class="controlItems">
                    <input type="date" id="info-date" name="info-date">
                    <textarea id="info-input-text" name="info-input-text" rows="4" cols="50">
                        Beschreibung zum Buchkauf...
                    </textarea>
                    </div>
                    <div class="buttonItems">
                    <button type="button">Speichern</button>
                    <button type="button">Abbrechen</button>
                </div>
            </form>
        </section>
  </div>
{{ end }}
